@import "../../global.scss";

.todoTitle {
  font-size: 24px;
  font-weight: bold;
}

.todoCont {
  margin-top: 50px;
  width: 80%;

  .inputTodo {
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    background: none;
    width: 100%;
    font-size: 18px;
  }

}

.todoList {
  position: relative;
  height: 50%;
  width: 80%;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  .todoNull{
    color: #666;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .todoLi {
    position: relative;
    padding: 10px 5px;
    transition: 0.2s;
    border-radius: 3px;

    .menuWrapper {

      .menuPopup {
        position: absolute;
        right: 0;
        z-index: 10;
        width: 100px;
        background: #fff;
        border: 1px solid #f3f3f3;
        max-height: 200px; // 메뉴 최대 높이 제한 (원하는 대로 조절)
        overflow-y: auto; // 메뉴 내부 스크롤 허용
        box-sizing: border-box;

        li {
          width: 100%;
        }

        button {
          width: 100%;
          border-radius: 0;
          background-color: #fff;
        }

        button:hover {
          background-color: #ebebeb;
        }
      }
    }
  }

  .todoLi:hover {
    background-color: #ebebeb;
  }

  .dragOver {
  border-top: 2px solid #007bff;
  background-color: #f0f8ff;
}
  .screenReader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin: -1px;
    clip-path: inset(50%);
  }

  .labelBox {
    display: flex;
    align-items: flex-start;
    overflow-wrap: break-word;

    .checkIcon {
      width: 1.4em;
      height: 1.4em;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid gray;
      position: absolute;
      left: 10px;
    }


    label {
      display: block;
      width: 90%;
      padding-left: 2.2em;
      position: relative;
      cursor: pointer;
      font-size: 18px;
      line-height: 20px;
    }

    input {
      position: relative;
      display: block;
      width: 80%;
      margin-left: 2.2em;
      font-size: 18px;
      background: none;
      border: none;
      border-bottom: 1px solid #ffd455;
    }

  }

  input[type="checkbox"]:checked+.labelBox .checkIcon {
    border-color: #ffd455;
    background-color: #ffd455;
    transition: 0.1s;
  }

  input[type="checkbox"]:checked+.labelBox label {
    text-decoration: line-through;
    color: #666;
  }

  .menu {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: 0.2s;
    margin-right: 10px;

    span {
      display: block;
      width: 3px;
      height: 3px;
      background-color: #aaa;
      border-radius: 100%;
      margin: 1px 0;
    }
  }

  .menu:hover {
    background: #ebebeb;
  }

}

.todoList::-webkit-scrollbar {
  width: 5px;
}

.todoList::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 5px;
}