// src/styles/global.scss

// 색상 변수 정의
$primary-color: #ffd455;
$secondary-color: #6c757d;
$danger-color: #dc3545;
$light-background-color: #ffffff;
$dark-background-color: #121212;
$light-text-color: #333;
$dark-text-color: #ffffff;

// 기본 화이트 모드 스타일
body.light {
  background-color: $light-background-color;
  color: $light-text-color;
}

// 기본 다크 모드 스타일
body.dark {
  background-color: $dark-background-color;
  color: $dark-text-color;
}

// 버튼 스타일
button {
  width: 80%;
  border: 1px solid $dark-background-color;
  border-radius: 50px;
  background-color: #ddd;
  color: $light-text-color;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #ccc;
  }
}

@media screen and (max-width: 900px) {

  button{
    width: 50%;
  }
}
