/* 기본 */
:root {
  --bg-menu: #fafafa;
  --text-color: #1a1a1a;
  --btn-hover: #eeeeee;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --menu-border: 1px solid #f3f3f3; /* ✅ 기본값 추가 */
  transition: 0.3s, color 0.3s;
}

/* 다크 모드 */
.app.dark {
  --bg-menu: #1e1e1e;
  --text-color: #ffffff;
  --btn-hover: #2e2e2e;
  --box-shadow: rgba(149, 157, 165, 0.1) 0px 0px 20px;;
  --menu-border: 1px solid #2f2f2f
}