@import "../../global.scss";


.timerCont{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .timerBackground{
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
  }
  
  .timerStroke{
    fill: none;
    stroke: url(#grad);
    stroke-width: 10;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 60px 60px;
  }

  .time{
    position: absolute;
    display: block;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

.timerBtn{
  position: absolute;
  bottom: 0;
  left: 50%;
}

.timerCont > svg{
  width: 500px
}